$background: rgba(24, 24, 24, 0.5);
$foreground: #f5f8eb;

$black:   #181818;
$red:     #D05357;
$green:   #A8D43D;
$yellow:  #F2BE71;
$blue:    #5EA6BB;
$magenta: #E588EC;
$cyan:    #8AE0D2;
$white:   $foreground;

* {
  all: unset; // Unsets everything so you can style everything from scratch
  font-family: "CaskadiyaCodeFontMono";
  color: $white;
}


// Global Styles
.bar {
  background: $background;
  color: $foreground;
  padding: 0px 10px;
  font-weight: bold;
  font-size: 16px;
}

// Music (Middle)
.music button{
  padding: 0px 8px;
}

.music button:hover {
  color: $yellow;
}

// Metrics (Left)
.sidestuff slider {
  all: unset;
  color: $yellow;
}

.metric scale trough highlight {
  all: unset;
  background-color: $yellow;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: $black;
  border-radius: 50px;
  min-height: 10px;
  min-width: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.label-ram {
  font-size: large;
}

.power-symbol {
  font-size: 24px;
}

.power-symbol:hover {
  color: $red;
}

.power-button:hover {
  color: $magenta;
}
